<section>
	<div class="container">
	    <% if !flash[:notice].nil? || !flash[:notice].blank? %>
	      	<p class="alert alert-success">
		        <a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
		        <%= flash[:notice] %>
	      	</p>
	    <% end %>
		<div class="padding_inner">
	  		<h1><%= render_breadcrumbs :separator => ' > ' %> > Transactions</h1>
	  		<div class="tab_menu">
	  			<ul>
	  				<li><%=link_to "Details",epsadmin_merchant_path(@transc_merchant.merchant_uniq_id) %></li>
	  				<li><%=link_to "Devices",epsadmin_merchant_devices_path(@transc_merchant.merchant_uniq_id)%></li>
	  				<li><%= link_to 'Transactions', epsadmin_merchant_transaction_path(@transc_merchant.merchant_uniq_id), :class=>"active"  %></li>
	  				<li><%= link_to 'Invoices', epsadmin_merchant_invoices_path(@transc_merchant.merchant_uniq_id) %></li>
	  			</ul>
	  			<div class="clearfix"></div>
	  		</div>
	  		<div class="clearfix"></div>
	  		<!--tab_menu ends-->	

	  		<!-- For PDF -->
<!-- 	        <div class="pull-left">
	          <%#= form_tag(epsadmin_merchant_transaction_pdf_path(format: :pdf), :target=>"_blank", method: :get) do -%>
	            <input type="text" name="start_date" id="start_date" data-provide='datepicker'class="form-control" placeholder="From Date"> To
	            <input type="text" name="end_date" id="end_date" data-provide='datepicker'class="form-control" placeholder="To Date">
	            <%#= submit_tag "Download As PDF", :class=>"btn btn-primary" %>
	          <%#end%>
	          (*For custom report download please provide from date & to date)
	        </div> -->
	        <!-- For PDF  End-->

		  	<div class="merchant_table table-responsive dashboard_pending">

				<div id="reportrange" class="pull-right range_picker">
					<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
				    <span></span> <b class="caret"></b>
				</div>

		      	<div id="transaction_result">
		      		<%=render :partial =>"transaction" %>
		      	</div>

		  	</div><!--merchant_table ends-->
		</div>
	</div>
</section> 



<script type="text/javascript">

$(function() {

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
	 	$.ajax({
  			type: "GET",
           	url: "/epsadmin/merchants/<%=@transc_merchant.merchant_uniq_id%>/transaction_range",
          	data: {from: start.format('YYYY-MM-DD'),to: end.format('YYYY-MM-DD')},
           	success: function(response){
           		$("#transaction_result").html("");
				$("#transaction_result").html(response);
			}
         });
    }
    cb(moment().subtract(6, 'month'), moment());

    $('#reportrange').daterangepicker({
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

});

</script>
