<section>
  <div class="container">
    <% if !flash[:notice].nil? || !flash[:notice].blank? %>
      <p class="alert alert-success">
        <a title="close" aria-label="close" data-dismiss="alert" class="close" href="#">×</a>
        <%= flash[:notice] %>
      </p>
    <% end %>
    <div class="padding_inner">
      <h1>Change Your Password</h1>
      <div class="login_div text-center change_password">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <div class="error_msg"><%= devise_error_messages! %></div>
          <div class="form-group">
            <%= f.hidden_field :reset_password_token %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, :class=>"form-control", :placeholder=>"New Password", autofocus: true, autocomplete: "off" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class =>"form-control", :placeholder =>"Confirm New Password"   %>
          </div>
          <%= f.submit "Change my password", :class =>"btn btn-success"  %>
        <% end %>
        <div class="text-center forgot_pass"><%= render "devise/shared/links" %></div> 
      </div>
    </div>
  </div>
</section>