<!DOCTYPE html>
<html>
	<head>
	  <title>Epspro</title>

	  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
	<% if params[:controller] != "frontend" %>
		<header>
		  	<div class="container">
		  		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo">
		  			<a href="/frontend/index" class="logo_txt">
		  				<%= image_tag "imgpsh_fullsize.png", :class=> "img-responsive" %>
		  			</a>
		  		</div>
		  		<div class="col-lg-9 col-md-9 col-sm-12">	  
		  			<!--menu-->
		  			<nav class="navbar-default pull-left">       
				          <div class="navbar-header">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">            
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				            </button>          
				          </div>
				          <div id="navbar" class="navbar-collapse collapse">
				            <ul class="nav navbar-nav pull-right">
								<% if user_signed_in? %>
							 		<% if current_user.not_merchant? %>
								 	    <li><%=link_to "Merchants",epsadmin_merchants_path %></li>
					  					<li><%=link_to "Devices", admin_dashboard_all_device_path %></li>
					  					<li><%=link_to "Invoices", admin_dashboard_all_invoice_path %></li>
					  					<li><%=link_to "Users",epsadmin_admins_path if current_user.is_admin? %></li>
							 	    <% else %>
							 	    	<li><%=link_to "Dashboard", dashboard_index_path %></li>
							 	    	<li><%=link_to "Transactions", dashboard_transaction_path %></li>
							 	    	<li><%=link_to "Merchant Details", dashboard_merchant_detail_path %></li>
							 	    	<li><%=link_to "Billing", dashboard_billing_path %></li>
							    	<% end %>

							 	    <li><%= link_to "Change Password", edit_user_registration_path %></li>
							 	    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li> 
						 		<%end%>
				            </ul>
				          </div>       
		  			</nav>
		  			<!--menu ends-->	
		  			<div class="pull-right user_name">
		  				<% if user_signed_in? %>
		  					<!-- <img src="/assets/person_icon.png" alt=""> -->
		  					<%= image_tag "person_icon.png"%>
					 	<%end%>
			  			<span>
		  				 	<% if user_signed_in? %>
						 		Hi <%= current_user.full_name %>
						 	<%end%>
			  			</span>
		  			</div>  			
		  		</div>
		  		<div class="clearfix"></div>
		  	</div>
		</header>

	<% else %>

	  	<header>
	        <div class="camera_container">
	          <div id="camera" class="camera_wrap center">
	            <div data-src="/assets/frontend/page-1_slide01.jpg">
	              <div class="camera_caption fadeIn">
	                <h2> With our professional CV your job interview is guaranteed</h2><a href="#" class="btn">order now!</a>
	              </div>
	            </div>
	            <div data-src="/assets/frontend/page-1_slide02.jpg">
	              <div class="camera_caption fadeIn">
	                <h2>Your first step in climbing up the service ladder</h2><a href="#" class="btn">order now!</a>
	              </div>
	            </div>
	            <div data-src="/assets/frontend/page-1_slide03.jpg">
	              <div class="camera_caption fadeIn">
	                <h2>Professional CVs and cover letters for every job description</h2><a href="#" class="btn">order now!</a>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="wrap">
	          <div class="container center">
	            <div class="brand">
	              <div class="brand_img"><img src="/assets/imgpsh_fullsize.png" alt=""></div>

	            </div>
	          </div>
	          <div id="stuck_container" class="stuck_container center">
	            <div class="container">
	              <nav class="nav">
	                <ul data-type="navbar" class="sf-menu">
	                  <li class="active"><a href="./">Home</a>
	                  </li>
	                  <li><a href="index-1.html">About</a>
	                    <ul>
	                      <li><a href="#">history</a></li>
	                      <li><a href="#">news</a>
	                    </ul>
	                  </li>
	                  <li><a href="/frontend/contact_us">Contacts</a>
	                  </li>
	                </ul>
	            </div>
	          </div>
	        </div>
	  	</header>
	<% end %>
		<%= yield %>
	<% if params[:controller] == "frontend" %>
		<footer>
	        <section class="well">
	          <div class="container">
	            <div class="row">
	              <div class="col-xs-6 col-sm-3 col-md-3 border_wr">
	                <h5>copyright</h5>
	                <div class="copyright">
	                  <p>© <span id="copyright-year"></span> &nbsp;</p><a href="index-5.html">Privacy policyMore <a rel="nofollow" href="http://www.templatemonster.com/category/investment-company-website-templates/" target="_blank">Investment Company Website Templates at TemplateMonster.com</a></a>
	                </div>
	                <h1><a href="./">CV Planet</a></h1>
	                <ul class="inline-list">
	                  <li><a href="#" class="fa-twitter-square"></a></li>
	                  <li><a href="#" class="fa-youtube"></a></li>
	                  <li><a href="#" class="fa-rss"></a></li>
	                  <li><a href="#" class="fa-facebook-square"></a></li>
	                  <li><a href="#" class="fa-google-plus-square"></a></li>
	                </ul>
	              </div>
	              <div class="col-xs-6 col-sm-3 col-md-3 border_wr">
	                <h5>Address</h5>
	                <address>9870 St Vincent Place,<br/>Glasgow, DC 45 Fr 45.</address>
	                <dl>
	                  <dt>Freephone:</dt>
	                  <dd><a href="callto:x">+1 800 559 6580</a></dd>
	                </dl>
	                <div class="link_wr"><a href="mailto:x">mail@demolink.org</a></div>
	              </div>
	              <div class="col-xs-6 col-sm-3 col-md-3 border_wr">
	                <h5>Support Menu</h5>
	                <ul class="marked-list">
	                  <li><a href="#">  Lost Password?</a></li>
	                  <li><a href="#">Forgot your Username?</a></li>
	                  <li><a href="#">Your Membership</a></li>
	                  <li><a href="#">Your Account</a></li>
	                  <li><a href="#">Support Forum</a></li>
	                </ul>
	              </div>
	              <div class="col-xs-6 col-sm-3 col-md-3 border_wr">
	                <h5>About Us</h5>
	                <ul class="marked-list">
	                  <li><a href="#">Customer focus</a></li>
	                  <li><a href="#">Performance</a></li>
	                  <li><a href="#">Affiliates</a></li>
	                  <li><a href="#">CV Review</a></li>
	                </ul>
	              </div>
	            </div>
	          </div>
	        </section>
	      </footer>
      <% end %>
	</body>
	<script type="text/javascript">
		$(function () {
		    setNavigation();
		});
		function setNavigation() {
		    var path = window.location.pathname;
		    path = path.replace(/\/$/, "");
		    path = decodeURIComponent(path);

		    $("nav a").each(function () {
		        var href = $(this).attr('href');
		        if (path.substring(0, href.length) === href) {
		            $(this).closest('a').addClass('active');
		        }
		    });
		}
	</script>
</html>
